<a href="https://colab.research.google.com/github/ninadnikam/Python-Begninng/blob/main/Loop_program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
tuple = {1,2,3} 
sum = 0
for x in tuple:
  sum+= x
  print(sum)

1
3
6

# **Loop**
1. statements are executed sequentially
2. first statment in function executed first an  followed by second and soon executed block of code several no of times.
3. 3 -types of loop
**while loop**
 repeat statment group of statement while a give condition is true

 **For loop**
 execute a sequence of statment multipl time and the code that manage the loop variable

 **nested loop**
 you can use one / more loop inside any another

In [15]:
#1. while loop
# syntax:
#  while expression:
#    statement

count = 0 #intilazation
while (count < 9):  #condition
  print("count is:",count)
  count+=1  #increment always use this assignment method because it take less code and memory
  print(count)

count is: 0
1
count is: 1
2
count is: 2
3
count is: 3
4
count is: 4
5
count is: 5
6
count is: 6
7
count is: 7
8
count is: 8
9

In [74]:
#program 2

#display the 2 table

a = 0  #intialazation
while (a < 20): #condition
  a+= 2 #increment
  print(a)

2
4
6
8
10
12
14
16
18
20

In [85]:
a = int(input("Enter the number:"))
b = a * 10

c = 0
q = 0
while (c < b):
  c+=a
  q+=1
  print(a, "*", q,"=",c)

Enter the number:37
37 * 1 = 37
37 * 2 = 74
37 * 3 = 111
37 * 4 = 148
37 * 5 = 185
37 * 6 = 222
37 * 7 = 259
37 * 8 = 296
37 * 9 = 333
37 * 10 = 370

In [100]:
#total sum of counts from 1 to n number
n = 10
sum = 0
i = 1

while ( i <= n):
  sum = sum + i
  i= i+1
  print(sum)

1
3
6
10
15
21
28
36
45
55