<a href="https://colab.research.google.com/github/ninadnikam/Python-Begninng/blob/main/Numbers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.   Number data type store numeric values
2.   They are immutable data types means changing the value of numbers data type result in newly allocated objects
3. Python supports different numerical types of data
  int (signed integer), float, complex

In [ ]:
#Mathematical Functions

import math
x = -10
y = 20
print(abs(x))
print(float(x))
print(math.ceil(45.1))
print(math.exp(20))
print(math.fabs(5.5))
print(math.log(2))
print(math.log10(2))
print(max(1,2,3.01))
print(min(1,1.0,1.01))
print(pow(100,2))

10
-10.0
46
485165195.4097903
5.5
0.6931471805599453
0.3010299956639812
3.01
1
10000

36

In [ ]:
import random #choice random item form list, tuples or string
# random.choice(range(100))
# print(a)

#lets play the game of dice
a = random.choice(range(1,7))
b = random.choice(range(1,7))
if a != b:
  print("Try Again")
else:
  print(a,"=",b)
  print("Bravooo!!!")

5 = 5
Bravooo!!!

In [ ]:
#stone paper scissor game
import random
list1 = ['stone', 'paper', 'scissor']
list2 = ['stone', 'paper', 'scissor']
a = random.choice(list1)
b = random.choice(list2)

if list1 != list2:
  print("once again")
else: 
  print("bravoo!")

print(list1)
print(list2)

bravoo!
['stone', 'paper', 'scissor']
['stone', 'paper', 'scissor']

In [ ]:
x = ['a','b,','c','A','B','C']
x.sort()
print(x)

['A', 'B', 'C', 'a', 'b,', 'c']

In [ ]:
list = [True, 50, 10]
list.insert(2,5)
print(list)

[True, 50, 5, 10]

In [105]:
import random

list1 = [1,2,3,4,5,6,7,8,9,10]

for x in range(5):
  print(random.choice(list1))

10
3
5
4
8

In [149]:
import random


a = random.choice(range(999999))
print(a)


list = []
c = list.append(a)
print(list)

253919
[253919]

**here is the program to take the  data from random choice and stored into the list for every iterations.**
** xzI think here have to use the def function**

In [103]:
import random

list1 = [1,2,3,4,5]

count = 0
count+= 1

if random.shuffle(list1) == list1:
  print("Matched")

else:
    print("Not matched")  
    print(list1)

Not matched
[2, 1, 3, 5, 4]
0.3078067547337774